@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: 
  local("Montserrat Bold"),
  url("../fonts/Montserrat-Bold.woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: 
  local("Montserrat Black"),
  url("../fonts/Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: 
  local("Montserrat Medium"),
  url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: 
  local("Montserrat SemiBold"),
  url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: 
  local("Open Sans regular"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
}