@import './normalize.scss';
@import './fonts.scss';
@import './variables.scss';
@import './slider.scss';
@import './header.scss';
@import './book-store.scss';
@import './adaptive.scss';

.container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0 5px;
}